
@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@1,500&display=swap');
body {
    background-image: url('homebg\(1\).jpg');
    background-repeat: no-repeat;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 10%;
    transition: all 1s ease 0s;
    background-color: white;
  }
  
  .navbar a {
    color: black;
    text-decoration: none;
    font-family: 'Archivo', sans-serif;
    font-size: 20px;
  }
  
  .navbar {
    position:-webkit-sticky;
    list-style: none;
    display: flex;
    
  }
  
  .navbar li {
    padding: 0px 20px;
  }
  .navbar li:hover{
    
    margin-inline: 5px;
    transition: all .5s ease 0s;
    
  }
  .navbar li a:hover {
    color: orangered;
  }
  .middle {
    
    transition: all 1s ease 0s;
  } 
  
  .homeinfo {
    text-align: center;
    max-width: 500px;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50% , -50%);
 
  }
  .homeinfo h2 {
    margin-bottom: 20px;
  }
  
  
  